*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;
    background-color: aqua;
    margin: 30px;
}

.drag_drop{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    height: 120px;
    width: 336px;
    border: 2px solid black;
    margin: auto;
}

.figure{
    margin-top: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly
    ;
}